<html>
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel='stylesheet' href='/stylesheets/crear.css' />
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        

        <!-- <h1>Crear</h1>
        <br>
        <ul>
            <li>animal</li>
            <li>preferenciaAlimento</li>
            <li>cuidador</li> -->

            <div class="contCrearAnimalesCuidador">
                <div>
                  <h2 class="crearAnimalesCuidador">Crear:</h2>
                </div>
                <div class="href-crear">
                    <a href="/users/crearanimal">Animal</a>
                    <br>
                    <a href="/users/crearcuidador">Cuidador</a>
                </div>
            </div>


            
        </ul>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>