<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('./partials/header.ejs') %>
  <body>

    <div class="indexContAnimales">
      <div>
        <h2 class="animalesIndex">Index</h2>
      </div>
      <div class="imagestamanio">
        <div>
          <img src="/images/canguro.jpg" alt="#" width="250px">          
        </div>
        <div>
          <img src="/images/vaca.jpg" alt="" width="250px">          
        </div>
        <div>
          <img src="/images/oveja.jpg" alt="" width="250px">          
        </div>
        <div>
          <img src="/images/hipopotamo.jpg" alt="" width="250px">          
        </div>
      </div>
    </div>




  </body>
  <%- include('./partials/footer.ejs') %>
</html>
