<footer>
<div class="footer-nav">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lM4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
        <link rel="stylesheet" href="/stylesheets/footer.css">

    <div class="redes-container">
        <ul>
            <li><a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>
</footer>