
<header class="header-nav">

    <link rel="stylesheet" href="/stylesheets/header.css">

    <div class="headerContainer">
        <h1 class="headerTitulo">ZOO</h1>
        <div class="logoHeader">
            <a href="/"><img class="logoZoo" src="/images/ciervoLogo.png" alt=""></a>
        </div>
        <nav>
            <a href="/">Index</a>
            <a href="/users/crear">Crear</a>
            <a href="/users/detail">Detalle</a>
        </nav>
    </div>
</header>